@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base: #000aff;
    --color-text-muted: #6366f1;
    --color-text-invisible: #d1d5db;
    --color-text-dark: #030712;
    --color-text-grey: #6b7280;

    --color-fill: #eef2ff;
    --color-fill-light: #f9fafb;

    --color-border: #d0d1fb;

    --color-blue: #4f46e5;
    --color-blue-via: #332d8b;
    --color-blue-to: #201c50;

    --color-warning: #f59e0b;
  }
}

.non-selectable {
  user-select: none;
}
